body {
	background-color: #FFFFFF;
}
p, ul {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
#slogan {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000000;
}
#image1 {
	display: inline-block;
	margin: 10px;
}
#image2 {
	display: block;
	width: 100%;
}
#image5 {
	display: block;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#image3 {
	display: block;
	margin: 10px;
	max-height: 200px;
	max-width: 400px
}
#image4 {
	display: block;
	margin: 10px;
	height: 200px;
	width: 400px
}
#twoimages {
	float: right;
	display: block;
	margin-top: 50px;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
	float: right;
	text-align: center;
	padding: 0;
	margin: auto;
	display: inline-block;
}
li {
	font-family: 'Glegoo', serif;
	font-weight: 700;
	font-size: 1em;
	width: 150px;
	display: inline-block;
}
a {
	text-decoration: none;
	color: #000000;
}