body {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
#slogan {
	font-family: 'Roboto', sans-serif;
	color: #000000;
}
#image1 {
	width: 33%;
	min-width: 250px;
	display: inline-block;
	margin: 1%;
}
#image2 {
	display: block;
	width: 100%;
}
#image3 {
	display: block;
	margin: 10px 0 20px;
}
#image4 {
	display: block;
	margin: 10px 0 20px;
}
#twoimages {
	float: right;
	display: block;
	width: 35%;
	max-width: 300px;
	padding-left: 5%;
}
#twoimages img {
	width: 100%;
	min-width: 200px;
	height: auto;
}
#wrapper {
	width: 66%;
	margin: 2% auto 0;
}
#content {
	width: 60%;
	float: left;
}
#becomeamem {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 0;
}
#jointhedis {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-top: 0;
	margin-left: 10%;
	font-size: 1.5em;
	line-height: 1em;
}
header {
	width: 66%;
	margin: 0 auto;
}
#navbarul {
	list-style: none;
	float: right;
	text-align: center;
	padding: 0;
	margin: auto;
	display: inline-block;
	width: 66%;
}
.navbar {
	font-family: 'Glegoo', serif;
	font-weight: 700;
	font-size: 1em;
	width: 20%;
	display: inline-block;
}
a {
	text-decoration: none;
	color: #000000;
}
.memberben {
	display: block;
	line-height: 2em;
}
footer {
	width: 100%;
	height: 175px;
	background-color: #DDD;
	margin-top: 5%;
}
.footer-top {
	padding: 1%;
}
.footer-inner {
	width: 66%;
	margin: 0 auto;
}
.footer-left {
	float: left;
	width: 79%;
  	margin: 0;
  	border-right: 1px dotted #9fa7a9;
}
.footer-menu-exp {
	margin: 0 0 2% 0;
  	list-style-type: none;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 24%;
  	vertical-align: text-top;
}
.footer-menu {
	padding: 0;
  	margin-top: 5px;
  	list-style: none;
  	text-transform: none;
  	font-weight: normal;
}
.footer-right {
	float: right;
	width: 19%;
	display: inline-block;
}
.footer-right-connect {
	width: 75%;
}
@media only screen and (max-width: 1050px) {
	#becomeamem {
		font-size: 1.1em;
	}
	#jointhedis {
		font-size: 1.1em;
	}
}
@media only screen and (max-width: 768px) {
	#twoimages {
		display: none;
	}
	#content {
		float: none;
		width: 100%;
	}
	#navbarul {
		display: inline-block;
		width: 100%;
		padding: 1%;
	}
	.navbar {
		width: 24%;
		font-size: 1.1em;
	}
	#image1 {
		display: block;
		margin: 3% auto;
	}
	#wrapper, #header {
		width: 80%;
	}
	body {
		font-size: 12px;
	}
	#becomeamem {
	font-size: 1.25em;
	text-align: center;
	}
	#jointhedis {
	font-size: 1.25em;
	text-align: center;
	}
}
@media only screen and (max-width: 320px) {
	#twoimages {
		display: none;
	}
	#content {
		float: none;
		width: auto;
	}
	#wrapper, #header {
		width: 90%;
	}
	body {
		font-size: 13px;
	}
	#image1 {
		display: block;
		margin: 1% auto;
	}
	nav {
		display: none;
	}
	#becomeamem {
	font-size: 1.1em;
	line-height: 1em;
	margin-bottom: 0;
	}
	#jointhedis {
	margin-left: 10%;
	font-size: 1.1em;
	line-height: 1em;
	}
	.menu {
    	#navbarul {
      	max-height: 0;
      	overflow: hidden;
      	margin: 0 3.5em 0 1em;
   	 }

    #navbar {
      visibility: hidden;
      display: block;
      padding: 0.5em 0.6em;
      border: none;
    }
    
    #navbar { // nested menu
      #navbarul {
        margin-top: 0.5em;
        border-left: 1px solid #000;
      }
    }

    .navbar-handle {
      display: block;
    }
  }
  
  #navbar-checkbox:checked + .menu {
    #navbarul {
      max-height: 300px;
    }
    
    #navbar {
      visibility: visible;
    }
    .navbar-handle {
      &, &:after, &:before {
        border-color: #aaa;
      }
    }
  }
}

.navbar-checkbox {
    display: none;
}

.navbar-handle {
    @height: 45px; // just a reference to compute em values on the fly
    display: none;
    cursor: pointer;
    position: relative;
    font-size: @height;
    padding: .5em 0;
    height: 0;
    width: 1em * 75px / @height;
    border-top: (1em * 6px / @height) solid;

    &:before, &:after {
        position: absolute;
        left: 0;
        right: 0;
        content: ' ';
        border-top: (1em * 6px / @height) solid;
    }

    &:before {
        top: 1em * 17px / @height;
    }

    &:after {
        top: 1em * 40px / @height;
    }
}



///////////

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  .navbar-handle {
    position: absolute;
    font-size: 1.2em;
    top: 0.7em;
    right: 12px;
    z-index: 10;    
  }
}
}